alias fuck='sudo $(fc -ln -1)'
#alias fuck='sudo $(history -p \!\!)' 
#alias burp='~/bezpieczenstwo/programy/burpsuite_free_v1.6.01.jar'
alias web='virtualbox --startvm web'
alias ts='~/.TeamSpeak3/ts3client_runscript.sh'
alias ls='ls --color=auto'
alias out='sudo openvpn --cd /etc/openvpn/out --config /etc/openvpn/out/out.conf -deamon'
alias a_ts='ssh a "sudo -u teamspeak3-user /home/teamspeak3-user/teamspeak-server/ts3server_startscript.sh"'
alias a_ts_status='ssh a "sudo -u teamspeak3-user /home/teamspeak3-user/teamspeak-server/ts3server_startscript.sh status"'
alias a_ts_fix='ssh a "sudo -u teamspeak3-user /home/teamspeak3-user/teamspeak-server/ts3server_startscript.sh restart"'
alias go2win='sudo grub-reboot 4; sudo reboot'
alias lol-wasted-time='cat ~/edukacja/lolwasted-time/log.txt'
alias mgr-start='if [ -e  ~/Dropbox/open ]; then  echo "otwarty gdzie indzie"; else sudo cryptsetup luksOpen ~/Dropbox/mgr mgr && sudo mount /dev/mapper/mgr /mnt/mgr && touch ~/Dropbox/open; fi'
alias mgr-stop='cd; sudo sync; sudo umount /dev/mapper/mgr && sudo cryptsetup luksClose /dev/mapper/mgr && rm ~/Dropbox/open'
alias mgr-status=' [ ! -e Dropbox/open ] && [ ! -e /dev/mapper/mgr ] && echo "zamkniete" && return 0 || [ -e Dropbox/open ] && [ ! -e /dev/mapper/mgr ] && echo "gdzies otwarte" && return 0|| echo "otwarte"'
#awk 'NR % 3 == 1' | awk '{print $3}' | tr  '\n' ',' | sed -e 's/,/","/g'
alias burp='java -jar ~/Bezpieczenstwo/Red/burp.jar'
alias kali='vncviewer -via salomon localhost:69 -FullColor'
alias kali_mini='vncviewer -via salomon localhost:69 -FullColor'
alias win2012r2='vncviewer -via salomon localhost:12 -FullColor'
alias win10='vncviewer -via salomon localhost:10 -FullColor'
alias urldecode='python -c "import sys, urllib as ul; print ul.unquote_plus(sys.argv[1])"'
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1])"'
alias learn-hack='ssh -t salomon-2 ssh 10.69.0.11'

source ~/.aliases-other
